@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Poppins/Poppins-Regular.woff2") format('woff2'), url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Poppins/Poppins-ExtraBold.woff2") format('woff2'), url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype"),;
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }
}
body {
  @apply dark:bg-black dark:text-white text-black bg-white;
}

#main-carousel > div, #carousel {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#main-carousel > div::-webkit-scrollbar, #carousel::-webkit-scrollbar {
  display: none;
}

body.noscroll {
  @apply overflow-hidden;
}

.hamburger[aria-expanded="true"] span:nth-child(1) {
	@apply transition-all top-1/2 -rotate-45;
}
.hamburger[aria-expanded="true"] span:nth-child(2) {
	@apply transition-all opacity-0 hidden;
}
.hamburger[aria-expanded="true"] span:nth-child(3) {
	@apply transition-all top-1/2 rotate-45;
}