@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply bg-black text-white
}

#main-carousel > div, #carousel {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#main-carousel > div::-webkit-scrollbar, #carousel::-webkit-scrollbar {
  display: none;
}

body.noscroll {
  @apply overflow-hidden xl:overflow-visible;
}

.hamburger[aria-expanded="true"] span:nth-child(1) {
	@apply transition-all top-1/2 -rotate-45;
}
.hamburger[aria-expanded="true"] span:nth-child(2) {
	@apply transition-all opacity-0 hidden;
}
.hamburger[aria-expanded="true"] span:nth-child(3) {
	@apply transition-all top-1/2 rotate-45;
}